@import '../../../css/common';
.header{
  height:80px;
  background:#fff;
  padding: 0 48px;
  width: 100%;
  .logo{
    font-size: 20px;
    font-family: Raleway,Hiragino Sans GB,sans-serif;
    height: 80px;
    line-height: 80px;
    text-transform: uppercase;
  }
  .nav{
    height:80px;

    &>li{
      font-size: 16px;
      line-height:78px;
    }
  }
}